<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-sm="8" offset-sm="2">
      <ion-img [src]="'../assets/img/pro.jpg'" class=""></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="8" offset-sm="2">
     <ion-list>

       <ion-item>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
        <ion-label *ngIf="user!==null">{{user.name}}</ion-label>
       </ion-item>

       <ion-item>
       <ion-icon name="mail" slot="start"></ion-icon>
       <ion-label *ngIf="user!==null">{{user.email}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="call-sharp" slot="start"></ion-icon>
        <ion-label *ngIf="user!==null">{{user.mobile}}</ion-label>
       </ion-item>
       <ion-item>
        <ion-icon name="home-sharp" slot="start"></ion-icon>
        <ion-label *ngIf="user!==null" class="ion-text-wrap">{{user.address}}</ion-label>
       </ion-item>
       <ion-item>
        <ion-icon name="card-sharp" slot="start"></ion-icon>
        <ion-label *ngIf="user!==null">Adhaar Card</ion-label>
            <!--  <ion-button shape="round"
        fill="outline"
        (click)="fileInput1.click()"
        [ngClass]="{bg:file!==null}"
       >Change</ion-button>

        <input
         style="display: none"
         type="file" (change)="onFile1($event)"
         #fileInput1>
         <div slot="end">
           <ion-icon name="cloud-upload-outline" (click)="onUpload1()"></ion-icon>
         </div> -->
       </ion-item>
        <div class="mx-2">
          <img *ngIf="user!==null" [src]="user.adhaar" class="img">
        </div>


        <ion-item>
          <ion-icon name="card-sharp" slot="start"></ion-icon>
          <ion-label *ngIf="user!==null">PAN Card</ion-label>
          <!-- <ion-button shape="round"
           fill="outline"
           (click)="fileInput.click()"
           [ngClass]="{bg:file!==null}"
          >Change</ion-button>

            <input
            style="display: none"
            type="file" (change)="onFile($event)"
            #fileInput>
            <div slot="end">
              <ion-icon name="cloud-upload-outline" (click)="onUpload()"></ion-icon>
            </div> -->
    
         </ion-item>
       <div class="mx-2">
        <img *ngIf="user!==null" [src]="user.panCard" class="img">
       </div>
       
     
     </ion-list>
     
     
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
