<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Make Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="card bg-white mt-3">
  <form (ngSubmit)='handleForm(f)' class="mt-4 mx-1" #f = "ngForm">
    
    <div class="my-1">
      <input type="email" class="form-control" placeholder=" Email"
       name="email" [(ngModel)]="email" required >
      <!-- absark647 pss  Khan988932 userName:mohdabsarkhan pin : 0786 -->
    </div>

    <div class="my-1">
      <input type="number" class="form-control" placeholder=" Amount" [(ngModel)]="amount" name="amount" required>
      
    </div>
    <div id="cardElement" class=" form-control">
      <!-- Elements will create input elements here -->
    </div>
    
    <!-- We'll put the error messages in this element -->
  
    <div class="alert alert-danger mt-2" role="alert" *ngIf="cardErrors">
      {{ cardErrors }}
    </div>
    <button  class="my-2 btn btn-color btn-block">Pay</button>
  </form>
</div>



</ion-content>
