<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/signin"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="mx-2">
  <form  class="mt-5" [formGroup]="forgotPassword" (ngSubmit)="onSubmit(forgotPassword)">
   
    <div class="mb-2">
      <input type="text"
       placeholder="Email Address " 
       class="form-control"  
       formControlName="email"
       [ngClass]="{ 'is-invalid': submitted && forgotPassword.get('email').errors }" 
       >
       <div
        *ngIf="submitted && forgotPassword.get('email').errors"
        class="invalid-feedback">
       <div 
       *ngIf="forgotPassword.get('email').hasError('required')">
        Email address is required !
       </div>
       <div 
       *ngIf=" forgotPassword.get('email').hasError('email')">
        Please enter valid email address !
       </div>
      </div>
    
    
    </div>
    <ion-button type="submit" expand="block">next</ion-button>
  </form>
</div>
</ion-content>
