<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/home" class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title>My Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="gradient" style="height: 100%;">
    <ion-row>
      <ion-col>
         <div class="bg-white py-2 pl-2 mt-4" style="border-radius: 5px;">
          Total Amount: <strong *ngIf="result !==0" class="ml-2"> {{result}}&#8377;</strong>
         </div>
    <div class="mt-4 mb-2">I Can Buy</div >
     <div class="bg-white py-2 pl-2 mb-1" style="border-radius: 5px;">
     <strong *ngIf="gold" class="ml-2"> Gold: {{gold}}gram  </strong>
     </div>

      <div class="bg-white py-2 pl-2" style="border-radius: 5px;">
      <strong *ngIf="gold" class="ml-2"> Silver: {{silver}} gram </strong>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
