.logo-img{
    height: 150px;
    margin-top: 20px;
  }
  .terms{
    font-size: small;
  }
  .content{
    overflow-y: scroll !important;
  }
  ion-icon {

    font-size: 18px;
  }
  .icon-color{
    color: var(--ion-color-primary);
  }
  .text{
    font-size:12px
  }