
<ion-content class="content">
  <ion-grid class="gradient" >
    <ion-row >
      <ion-col size-sm="10" offset-sm="1">
        
     <!-- LOGO -->
  <div class="mb-2">
    <ion-img src="../assets/img/logo1.png" class="logo-img"></ion-img>
  </div>

  <!-- FORM START -->
  <form  class="ion-padding-horizontal" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="d-flex column">

      <div class="mb-2">
        <input type="text" 
        placeholder="User Name" 
        class="form-control" 
        formControlName="name"
        [ngClass]="{ 'is-invalid': submitted && registerForm.get('name').errors }" 
         >
         <div *ngIf="submitted && registerForm.get('name').hasError('required')"
         class="invalid-feedback">
          User name required !</div>
      </div>
      
        
    
     
      <div class="mb-2">
        <input type="text"
         placeholder="Email Address " 
         class="form-control"  
         formControlName="email"
         [ngClass]="{ 'is-invalid': submitted && registerForm.get('email').errors }" 
         >
         <div
          *ngIf="submitted && registerForm.get('email').errors"
          class="invalid-feedback">
         <div 
         *ngIf="registerForm.get('email').hasError('required')">
          Email address is required !
         </div>
         <div 
         *ngIf=" registerForm.get('email').hasError('email')">
          Please enter valid email address !
         </div>
        </div>
      
      
      </div>

      <div class="mb-2">
        <input type="number"
         placeholder="Mobile"
         class="form-control" 
         formControlName="mobile"
         [ngClass]="{ 'is-invalid': submitted && registerForm.get('mobile').errors }" 
         >
         <div
         *ngIf="submitted && registerForm.get('mobile').errors"
         class="invalid-feedback">
        <div 
        *ngIf="registerForm.get('mobile').hasError('required')">
        Mobile no. is required !
        </div>
        <div 
        *ngIf=" registerForm.get('mobile').hasError('pattern')">
        Mobile no. must be 10 digits !
        </div>
       </div>
      </div>


      <div class="mb-2">
        <input type="password"
         placeholder="Password"
         class="form-control" 
         formControlName="password"
         [ngClass]="{ 'is-invalid': submitted && registerForm.get('password').errors }" 
         >
         <div
         *ngIf="submitted && registerForm.get('password').errors"
         class="invalid-feedback">
        <div 
        *ngIf="registerForm.get('password').hasError('required')">
         Password is required !
        </div>
        <div 
        *ngIf=" registerForm.get('password').hasError('minlength')">
        Password must be at least 6 characters !
        </div>
       </div>
      </div>


      <div class="mb-2">
        <input type="password"
         placeholder="Confirm Password"
         class="form-control" 
         formControlName="passwordConfirm"
         [ngClass]="{ 'is-invalid': submitted && registerForm.get('passwordConfirm').errors }" 
         >
         <div
         *ngIf="submitted && registerForm.get('passwordConfirm').errors"
         class="invalid-feedback">
        <div 
        *ngIf="registerForm.get('passwordConfirm').hasError('required')">
         Confirm password is required !
        </div>
        <div 
        *ngIf=" registerForm.get('passwordConfirm').hasError('mustMatch')">
        Confirm password must match !
        </div>
       </div>
      </div>

      <div class="mb-2">
        <textarea
        type="text"
        formControlName="address"
        [ngClass]="{ 'is-invalid': submitted && registerForm.get('address').errors }" 
         placeholder="Address"
         class="form-control">
        </textarea>
        <div
        *ngIf="submitted && registerForm.get('address').errors"
        class="invalid-feedback">
       <div 
       *ngIf="registerForm.get('address').hasError('required')">
        Address is required !
       </div>
      
      </div>
      </div>


      <ion-item lines="none" class="mb-2 file">
        <ion-label slot="start" class="ion-text-wrap text">Select PAN Card</ion-label >
          <input
          style="display: none"[writeFile]="true"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
          <div slot="end">
            <ion-icon name="image-outline" (click)="fileInput.click()"[ngClass]="{'icon-color':pancard!==null}"></ion-icon>
          </div>
  
        </ion-item>


      <ion-item lines="none" class="mb-3 file">
        <ion-label slot="start" class="text">Select Adhaar Card</ion-label >
        <input
        style="display: none"[writeFile]="true"
        type="file" (change)="onAdhaar($event)"
        #file1Input>
        <div slot="end">
          <ion-icon name="image-outline" (click)="file1Input.click()" [ngClass]="{'icon-color':adhaarcard !==null}"></ion-icon>
        </div>

        </ion-item>
  

      <!-- SIGNUP BUTTON -->
      <button type="submit" class="btn btn-block btn-primary">Create New Account</button>
  
    </div>

  </form>
   <!-- FORM END-->
 

  
   <!-- SIGNIN BUTTON -->
   <div class="d-flex text-white mb-4 mt-5"
    style="justify-content: center; outline: none;"
    [routerLink]="['/','auth','signin']">
    <span expand="block"  class="ion-padding-horizontal">Sign In</span>
    <ion-icon name="arrow-forward-outline" class="pt-1 icon-only"></ion-icon>
  </div>
  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
