
  <ion-app>
    <ion-menu contentId="main-content" type="overlay" >
      <ion-content>
  
    <div  class="list" style="height: 100%;">
       <ion-toolbar class="text-center">Menu</ion-toolbar>
        <ion-menu-toggle *ngIf="role !== 'admin'">
          <ion-item routerLink="/main/tabs/myaccount" class="list">
            <ion-icon name="person-circle-outline" slot="start" class="text-white"></ion-icon>
            <ion-label> My Account</ion-label>
           </ion-item>
        </ion-menu-toggle >
        <ion-menu-toggle *ngIf="role !== 'admin'">
          <ion-item routerLink="/main/tabs/home" class=" list">
            <ion-icon name="home-outline" slot="start" class="text-white"></ion-icon>
            <ion-label>Home</ion-label>
           </ion-item>
        </ion-menu-toggle>

        <!-- <ion-menu-toggle *ngIf="role === 'distributor' ">
          <ion-item routerLink="/main/tabs/members" class=" list">
            <ion-icon name="people-outline" slot="start" class="text-white"></ion-icon>
            <ion-label>Your Members</ion-label>
           </ion-item>
        </ion-menu-toggle> -->

        <ion-menu-toggle *ngIf="role === 'admin'">
          <ion-item routerLink="/main/tabs/home" class=" list">
            <ion-icon name="tv-outline" slot="start" class="text-white"></ion-icon>
            <ion-label> Admin Dashboard</ion-label>
           </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle *ngIf="role === 'admin'">
          <ion-item routerLink="/main/tabs/update-rates" class=" list">
            <ion-icon name="cloud-upload-outline" slot="start" class="text-white"></ion-icon>
            <ion-label> Update Rates</ion-label>
           </ion-item>
        </ion-menu-toggle>
     
  
        <ion-menu-toggle>
          <ion-item routerLink="/main/tabs/setting" class="list">
            <ion-icon name="settings-outline" slot="start" class="text-white"></ion-icon>
            <ion-label>Setting</ion-label>
            </ion-item>
        </ion-menu-toggle>
  
        <ion-menu-toggle>
          <ion-item (click)="onSignout()" class="list">
            <ion-icon name="power-outline" slot="start" class="text-white"></ion-icon>
           <ion-label>Sign Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
      </ion-content>
     
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>


   
  </ion-app>


