<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
       <ion-back-button defaultHref="/main/tabs/home" class="text-white"></ion-back-button>
     </ion-buttons>
    <ion-title>Rates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="gradient" style="height: 100%; overflow-y: auto;">
    <ion-card class="mainCard">
      <ion-card-header>
        <ion-card-title>Gold Rates (10 Grams)</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-card class="childCard">
          <ion-card-header>
            <ion-card-subtitle>
              <b class="karret">24k</b> <b>-</b> <b class="rates">&#8377; {{twentyfourK}}</b>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="childCard">
          <ion-card-header>
            <ion-card-subtitle>
              <b class="karret">22k</b> <b>-</b> <b class="rates">&#8377; {{twentytwoK}}</b>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="childCard">
          <ion-card-header>
            <ion-card-subtitle>
              <b class="karret">18k</b> <b>-</b> <b class="rates">&#8377; {{eighteenK}}</b>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="childCard">
          <ion-card-header>
            <ion-card-subtitle>
              <b class="karret">14k</b> <b>-</b> <b class="rates">&#8377; {{fourteenK}}</b>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="childCard">
          <ion-card-header>
            <ion-card-subtitle>
              <b class="karret">12k</b> <b>-</b> <b class="rates">&#8377; {{twelveK}}</b>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="childCard">
          <ion-card-header>
            <ion-card-subtitle>
              <b class="karret">9k</b> <b>-</b> <b class="rates">&#8377; {{nineK}}</b>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card>
      <ion-card-header>
        <ion-card-title>Silver Rates</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <b>1 Kg</b> <b>-</b> <b>rate</b>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-card-content>
    </ion-card> -->
  </ion-grid>
  </ion-content>
