<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-outline" slot="icon-only" (click)="onDismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-grid class="ion-no-margin gradient" style="height: 100%; padding-top: 25%;">
  <ion-row>
    <ion-col size-sm="8" offset-sm="2">
    
     <div class="card px-2 py-3">
       <strong class="border-bottom pb-1">Pament Details</strong>
       <div class="d-flex my-2">
         <div class="grow">Amount</div>
         <div>&#8377;{{paymentInfo.amount}}</div>
       </div>
       <div class="d-flex my-2">
        <div class="grow">GST</div>
        <div>&#8377;-{{gstAmount}}</div>
      </div>
      <div class="d-flex my-2">
        <strong class="grow">Total Amount</strong>
        <strong>&#8377;{{paymentInfo.amount+gstAmount}}</strong>
      </div>
     </div>
     <ion-button expand="block" (click)="onPayment()" class="mt-2">Proceed</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>