<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-sm="8" offset-sm="2">
      <ion-img [src]="'../assets/img/pro.jpg'" class=""></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="8" offset-sm="2">
     <ion-list>

       <ion-item>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
        <ion-label *ngIf="user!==null">{{user.name}}</ion-label>
       </ion-item>

       <ion-item>
       <ion-icon name="mail" slot="start"></ion-icon>
       <ion-label *ngIf="user!==null">{{user.email}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="call-sharp" slot="start"></ion-icon>
        <ion-label *ngIf="user!==null">{{user.mobile}}</ion-label>
       </ion-item>
       <ion-item (click)="onupdateUser()">
     
        <ion-icon name="person-add-sharp" slot="start"></ion-icon>
        <ion-label *ngIf="user!==null" class="text-primary">Update Profile</ion-label>
      
       </ion-item>
       <ion-item (click)="onPasswordUpdate()">

        <ion-icon name="cloud-upload-sharp" slot="start"></ion-icon>
        <ion-label *ngIf="user!==null" class="text-primary">Change Password</ion-label>
      
       </ion-item>
     
     </ion-list>
     
     
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
