<ion-header>
  <ion-toolbar>
    <ion-title>resetpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="mx-2">
  <form  class="mt-5" [formGroup]="resetPassword" (ngSubmit)="onSubmit(resetPassword)">
    <div class="mb-2">
      <input type="text"
       placeholder="Reset Token"
       class="form-control" 
       formControlName="token"
       [ngClass]="{ 'is-invalid': submitted && resetPassword.get('token').errors }" 
       >
       <div
       *ngIf="submitted && resetPassword.get('token').errors"
       class="invalid-feedback">
      <div 
      *ngIf="resetPassword.get('token').hasError('required')">
       Token is required !
      </div>
    
     </div>
    </div>

  
    <div class="mb-2">
      <input type="text"
       placeholder="Password"
       class="form-control" 
       formControlName="password"
       [ngClass]="{ 'is-invalid': submitted && resetPassword.get('password').errors }" 
       >
       <div
       *ngIf="submitted && resetPassword.get('password').errors"
       class="invalid-feedback">
      <div 
      *ngIf="resetPassword.get('password').hasError('required')">
       Password is required !
      </div>
      <div 
      *ngIf=" resetPassword.get('password').hasError('minlength')">
      Password must be at least 6 characters !
      </div>
     </div>
    </div>


    <div class="mb-2">
      <input type="text"
       placeholder="Confirm Password"
       class="form-control" 
       formControlName="passwordConfirm"
       [ngClass]="{ 'is-invalid': submitted && resetPassword.get('passwordConfirm').errors }" 
       >
       <div
       *ngIf="submitted && resetPassword.get('passwordConfirm').errors"
       class="invalid-feedback">
      <div 
      *ngIf="resetPassword.get('passwordConfirm').hasError('required')">
       Confirm password is required !
      </div>
      <div 
      *ngIf=" resetPassword.get('passwordConfirm').hasError('mustMatch')">
      Confirm password must match !
      </div>
     </div>
    </div>
    <ion-button type="submit" expand="block">reset</ion-button>
    <div class="alert alert-success mt-2 text-center" role="alert" *ngIf="msg">
      {{ 'Your password has reset !'}}
    </div>
  </form>
  <div class="d-flex mt-3">
    <div>
      <strong>Note:</strong>
    </div>
    <div>
      Reset token has been send to your email address .
    </div>
  </div>
</div>
</ion-content>
