<ion-header >
  <ion-toolbar >
    <ion-title>User Information</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-outline" slot="icon-only" (click)="onDismiss()" class="text-white"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="gradient" style="height: 100%; overflow-y: auto;">
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">

       <div class="d-flex my-2 mx-2">
         <div class="mr-2">
          <ion-icon name="person-outline"></ion-icon>
         </div>
         <div>{{user.name}}</div>
       </div>

       <div class="d-flex my-2 mx-2">
        <div class="mr-2">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <div>{{user.email}}</div>
      </div>


      <div class="d-flex my-2 mx-2">
        <div class="mr-2">
          <ion-icon name="call-outline"></ion-icon>
        </div>
        <div>{{user.mobile}}</div>
      </div>
      <ion-button shape="round" color="danger" (click)="onDelete()">Delete</ion-button>
      <div class="alert alert-danger mt-2 text-center" role="alert" *ngIf="isUserDeleted">
        {{isUserDeleted}}
      </div>
      <hr>
      <strong class="mx-2">Payment Information</strong>

      <div class="card my-2 mx-1 p-2 "*ngFor="let d of paymentInfo">
        <div class="h6 border-bottom pb-2"> 
         <ion-icon name="arrow-redo-sharp" class="text-primary mr-2" slot="icon-only"></ion-icon>Paid To Vow Golds</div>
       <div class="d-flex">
         <div class="grow">Paid Date:</div>
         <div class="grow text-right">{{d.date | date }}</div>
       </div>
       <div class="d-flex my-2">
         <div class="grow">Amount Paid:</div>
         <div class="grow text-right"> Rs.{{d.amount}}</div>
       </div>
       <div class="d-flex mb-2">
         <div class="grow">Receipt Email:</div>
         <div class="grow text-right">{{d.email}}</div>
       </div>
       <div class="d-flex">
        <div class="grow">Payment_id:</div>
        <div class="grow text-right">{{d.payment_id}}</div>
      </div>
       
       
     </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>