<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
       <ion-back-button defaultHref="/main/tabs/home" class="text-white"></ion-back-button>
     </ion-buttons>
    <ion-title>Passbook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="gradient" style="height: 100%; overflow-y: auto;">
  <ion-row>
    <ion-col size-sm="8" offset-sm="2">
      <div class="d-flex my-2 mx-1" style="justify-content: baseline;font-size: 20px;">
        <div style="padding-top: 2px;">
          <ion-icon name="card-outline" slot="start"></ion-icon>
        </div>
        <div class="ml-2">Payment History</div>
       </div>
      <div class="card my-2 mx-1 p-2 "*ngFor="let d of paymentHistory.payments">
         <div class="h6 border-bottom pb-2"> 
          <ion-icon name="arrow-redo-sharp" class="text-primary mr-2" slot="icon-only"></ion-icon>Paid To Vow Golds</div>
        <div class="d-flex">
          <div class="grow">Date Paid:</div>
          <div class="grow text-right">{{d.date | date }}</div>
        </div>
        <div class="d-flex my-2">
          <div class="grow">Amount Paid:</div>
          <div class="grow text-right"> Rs.{{d.amount}}</div>
        </div>
        <div class="d-flex">
          <div class="grow">Receipt Email:</div>
          <div class="grow text-right">{{d.email}}</div>
        </div>
        
        
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
