
<ion-content >
  
  <ion-grid class="gradient" style="height:100vh">
    <ion-row>
      <ion-col size-sm="10" offset-sm="1">
     <!-- LOGO -->
  <div class="mb-5">
    <ion-img src="../assets/img/logo1.png" class="logo-img"></ion-img>
  </div>

  <!-- FORM START -->
  <form  class="ion-padding-horizontal pt-5"  (ngSubmit)="onSubmit(f)" #f='ngForm' autocomplete="off">
    <div class="d-flex column">
      
      <div class="mb-2">
        <input type="email" placeholder="Email Address  " class="form-control" name="email" ngModel>
      </div>
      <div class="mb-2">
        <input type="password" placeholder="Password" class="form-control" name="password" ngModel>
      </div>
   
      </div>
    <!-- SIGNIN BUTTON -->
    <button type="submit" class="btn btn-block btn-primary mt-2">SING IN</button>

  </form>
 
   <!-- FORM END -->
   <div class="text-center mt-4 text-white" [routerLink]="['/','auth','forgotpassword']">Forgot Password ?</div>
   <div class="footer text-center">
    <span> Don't have an Account?</span><br>
    <div class="d-flex text-white" 
    style="justify-content: center; outline: none;"
    [routerLink]="['/','auth','signup']">
      <span>Create New Account</span>
      <ion-icon name="arrow-forward-outline" class="pt-1 icon-only"></ion-icon>
    </div>
   </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
