.logo-img{
    height: 150px;
    margin-top: 20px;
  }
  .terms{
    font-size: small;
  }
  .footer{
      position: fixed;
      bottom: 15px;
      left: 16px;
      right: 16px;
      text-align: center;
      font-size: small;
  }
 