
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1">
     <!-- LOGO -->
  <div class="mb-5">
    <ion-img src="../assets/img/logo1.png" class="logo-img"></ion-img>
  </div>

  <!-- FORM START -->
  <form  class="ion-padding-horizontal pt-5" (ngSubmit)="onSubmit(f)" #f='ngForm' autocomplete="off">
    <div class="d-flex column">
      
      <div class="mb-2">
        <input type="email" placeholder="Email Address  " class="form-control" name="email" ngModel>
      </div>
      <div class="mb-2">
        <input type="password" placeholder="Password" class="form-control" name="password" ngModel>
      </div>
   
      </div>
    <!-- SIGNIN BUTTON -->
    <ion-button expand="block mt-2" type="submit">SIGN IN</ion-button>

  </form>
 
   <!-- FORM END -->
   <div class="text-center mt-4 anchor">Forgot Password ?</div>
   <div class="footer">
    <span> Don't have an Account?</span><br>
    <span class="anchor"[routerLink]="['/','auth','signup']">Create New Account</span>
   </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
