<ion-header >
  <ion-toolbar >
    <ion-menu-button slot="start" ></ion-menu-button>

    <ion-title *ngIf="userRole !== 'admin'">Home</ion-title>
    <ion-title *ngIf="userRole === 'admin'">Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userRole !== 'admin'">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    refreshingSpinner="circles">
  </ion-refresher-content>
  </ion-refresher>

 <div class="main-content  gradient" style="height: 101%;" >
  <div  class="">
    <img src="../assets/img/invest.jpg" style="width: 100%;height: auto;background-size: cover;">
  </div>


    <ion-slides pager="true" [options]="slideOpts" class="m-1" style="height: 180px; border-radius: 4px;">
      <ion-slide class="slide-bg">
        <ion-img src="../assets/img/gold.png" ></ion-img>
        <span class="title">Gold 
          <span *ngIf="this.rates" class="ml-2">{{this.rates[0].gold}} &#8377;/gram</span>
        </span>
  
      </ion-slide>
      <ion-slide class="slide-bg">
        <ion-img src="../assets/img/silver.png" ></ion-img>
        <span class="title">Silver
          <span *ngIf="this.rates" class="ml-2">{{this.rates[0].silver}} &#8377;/gram</span>
        </span>
  
      </ion-slide>
      <ion-slide class="slide-bg">
        <ion-img src="../assets/img/diamond.png" ></ion-img>
        <span class="title">Diamond
          <span *ngIf="this.rates" class="ml-2">{{this.rates[0].diamond}} &#8377;/carat</span>
        </span>
  
      </ion-slide>
    </ion-slides>
  


  <div class="d-flex mx-1 mt-2">
    <div class="card grow mr-1 py-3 text-center d-flex bg-card text-white" routerLink="/main/tabs/passbook">
     Payment History</div>
    <div class="card grow ml-1 py-3 px-2 text-center bg-card text-white"routerLink="/main/tabs/razorpay">Make Payment</div>
  </div>
  <div class="card py-5 mt-2 mx-1 text-center bg-card mb-2 text-white"[routerLink]="['/','main','tabs','monthlyscheme']">Check Out Your Wallet</div>
 </div>



</ion-content>



<!-- ADMIN PAGE -->
<ion-content  *ngIf="userRole === 'admin'">
  <ion-grid class="gradient" style="height: 100%; overflow-y: auto;">
    <ion-row>
      <ion-col>
        <ion-title class="mb-2 mt-3">List Of Users</ion-title>
        <ion-list style="padding: 0;">
         <div *ngFor="let user of users">
          <ion-item  (click)="onUser(user)"*ngIf="user.role !== 'admin'" class="list">
           <ion-icon name="person-circle-outline" slot="start"  class="text-white"></ion-icon>
           <ion-label >{{user.email}}</ion-label>
           <ion-icon name="chevron-forward-outline" slot="end" ></ion-icon>
          </ion-item>
         </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
