<ion-header >
  <ion-toolbar >
    <ion-menu-button slot="start"></ion-menu-button>

    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <div class="main-content  mb-2" >
  <div  class="">
    <img src="../assets/img/invest.jpg" style="width: 100%;height: auto;background-size: cover;">
  </div>


    <ion-slides pager="true" [options]="slideOpts" class="m-1" style="height: 180px; border-radius: 4px;">
      <ion-slide class="slide-bg">
        <ion-img src="../assets/img/gold.png" ></ion-img>
        <span class="title">Gold</span>
  
      </ion-slide>
      <ion-slide class="slide-bg">
        <ion-img src="../assets/img/silver.png" ></ion-img>
        <span class="title">Silver</span>
  
      </ion-slide>
      <ion-slide class="slide-bg">
        <ion-img src="../assets/img/diamond.png" ></ion-img>
        <span class="title">Diamond</span>
  
  
      </ion-slide>
    </ion-slides>
  


  <div class="d-flex mx-1 mt-2">
    <div class="card grow mr-1 py-3 text-center d-flex" routerLink="/passbook">
     Payment History</div>
    <div class="card grow ml-1 py-3 px-2 text-center"routerLink="/stripe">Make Payment</div>
  </div>
  <div class="card py-5 mt-2 mx-1 text-center"[routerLink]="['/','monthlyscheme']">Check Out Monthly Schemes</div>
 </div>

 <!-- tabs -->

  <!-- <ion-tabs class="tab">
    <ion-tab-bar slot="bottom"  selectedTab="speakers">

      <ion-tab-button tab="/">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="/monthlyScheme">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Schemes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

</ion-content>
